
.deleteTraf >.label {
    -fx-graphic: url("../res/img/delete.png");
}
.addML {
   -fx-graphic: url("../res/img/add.png"); 
}
.buttons {
    -fx-background-radius: 7 7 7 7;
    -fx-background-color:  linear-gradient(crimson, limegreen );
}

.grColumns {
    -fx-alignment: center-right;
    -fx-arc-height: 20px;
}

#tablegraphic {
    -fx-background-color: linear-gradient(crimson, limegreen);
}

#printButton{
    -fx-graphic: url("../res/img/printer.png");
}
#excelButton{
    -fx-graphic: url("../res/img/excel.png");
}
.addButton{
    -fx-graphic: url("../res/img/add.png");
}
.editButton{
    -fx-graphic: url("../res/img/add.png");
}
.deleteButton{
    -fx-graphic: url("../res/img/delete.png");
}
#student_image{
    -fx-fill: yellow;
}
